#analogClock .second {
    height: 0px;
    width: 140px;
    border-top: 2px solid #E83151;
  }
  
  #analogClock .hour {
    height: 0px;
    width: 75px;
    border-top: 8px solid #CCC;
    left: 40px;
  top: 0px;

  transform: rotate(var(--hours));
  }
  
  #analogClock .minute {
    height: 0px;
    width: 140px;
    border-top: 4px solid #CCC;
    left: 70px;
  top: 0px;

  transform: rotate(var(--minutes));
  }
  #analogClock > * {
    grid-area: 1 / 1;
  }
  #analogClock {
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  #analogClock > * {
    grid-area: 1 / 1;
  }
  
  #analogClock .second,
  #analogClock .hour,
  #analogClock .minute {
    position: relative;
    transform-origin: left;
    border-radius: 10px;
  }
  
  #analogClock .second {
    height: 0px;
    width: 140px;
    border-top: 2px solid #E83151;
  
    left: 70px;
    top: 0px;
    transform: rotate(45deg);
  }
  
  #analogClock .hour {
    height: 0px;
    width: 75px;
    border-top: 8px solid #CCC;
  
    left: 40px;
    top: 0px;
    transform: rotate(135deg);
  }
  
  #analogClock .minute {
    height: 0px;
    width: 140px;
    border-top: 4px solid #CCC;
  
    left: 70px;
    top: 0px;
    transform: rotate(300deg);
  }
  #analogClock .center {
    width: 10px;
    height: 10px;
    background-color: #E83151;
    border: 5px solid #FFF;
    border-radius: 50%;
    position: relative;
    z-index: 100;
  }